@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    font-family: "Libre Baskerville", serif;
    line-height: 1;
  }
}

@layer components {
  .container {
    @apply mx-auto;
    max-width: 96%;
  }

  @media screen(sm) {
    .container {
      max-width: 20.4375rem;
    }
  }

  @media screen(md) {
    .container {
      max-width: 43.0625rem;
    }
  }

  @media screen(xl) {
    .container {
      max-width: 63.125rem;
    }
  }

  @media screen(xxl) {
    .container {
      max-width: 85rem;
    }
  }

  .gallery-card-caption {
    @apply bottom-0 left-0 w-full pb-8 pl-8 gap-2 flex flex-col justify-end;
    position: absolute;
    height: 10.625rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.841672) 100%
    );
  }

  .gallery-card-title {
    @apply font-bold text-neutral;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .gallery-card-author {
    @apply text-neutral;
    font-size: 0.8125rem;
    line-height: 1rem;
    opacity: 0.75;
  }
}
